<div class="footer container">
    <div class="col-sm-4 footer-col">
        <h4><i class="fa fa-envelope-o fa-fw"></i>Contact</h4>
        <p>mgritts@ndow.org</p>
    </div>
    <div class="col-sm-4 footer-col">
        <h4><i class="fa fa-exclamation fa-fw"></i>Errors</h4>
        <p>
            Please report errors with GitHub: <a href="https://github.com/ndow-wisr/ndow-forms/issues">Errors</a>
        </p>
        <hr>
        <h4><i class="fa fa-rocket fa-fw"></i>Features</h4>
        <p>
            To request a features use GitHub: <a href="https://github.com/ndow-wisr/ndow-forms/issues">Features</a>
        </p>
    </div>
    <div class="col-sm-4 footer-col">
        <h4><i class="fa fa-info fa-fw"></i>Instructions</h4>
        <p>
            In order to submit data you must have an account. Login or Signup then select the form you would like to use. <a href="https://github.com/ndow-wisr/ndow-forms/wiki">Detailed instructions can be found on GitHub.</a>
        </p>
    </div>
</div>
