<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW Forms</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

		<% include ./partials/navigation %>

    <div class="container">
      <header class="jumbotron">
        <div class="container">
          <h1>NDOW forms</h1>
          <p>
            The landing page for all online data entry forms for NDOW.
          </p>
        </div>
      </header>

	  <div class="media">
		  <div class="media-left">
		  	<a href="/observations">
				<img class="media-object"  src="https://d2pz2jxkt8wezm.cloudfront.net/public/icons/dest/er-icons-dest-wildlife-dk-23.svg" alt="" />
			</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading">
					<a href="/observations">Wildlife Observations</a>
				</h3>
				<p>
					Enter, view, and edit Nevada Wildlife Observations. Similar to the NDOW Form 240. Users are required to sign in before using this form.
				</p>
			</div>
	  </div>
	  <div class="media">
		  <div class="media-left">
			<a href="/checkouts">
				<img class="media-object"  src="https://d2pz2jxkt8wezm.cloudfront.net/public/icons/dest/er-icons-dest-wildlife-dk-23.svg" alt="" />
			</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading">
					<a href="/observations">Bighorn Harvest Check-In</a>
				</h3>
				<p>
					Enter, view, and edit hunter harvest bighorn sheep check-ins. Similar to the NDOW Form 336. Users are required to sign in before using this form.
				</p>
			</div>
	  </div>

    </div>
</body>
