<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW Forms</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:700" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

		<% include ./partials/navigation %>

	<div class="jumbotron" id="big-img">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 class="header-text">NDOW Forms</h2>
				<h3 class="header-text">The department's home for online data entry.</h3>
				<br>
				<a class="btn btn-primary" href="/login">LOG-IN</a>
				<a class="btn btn-success" href="/login">SIGN-UP</a>
			</div>
			<!-- <div class="col-md-7 text-center">
			</div>
			<div class="col-md-5">
				<h2 class="header-text">NDOW Forms</h2>
				<h3 class="header-text">The department's home for online data entry.</h3>
				<br>
				<a class="btn btn-primary" href="/login">LOG-IN</a>
				<a class="btn btn-success" href="/login">SIGN-UP</a>
				<h4 class="header-text">Log In</h4>
				<% include login.ejs %>
			</div> -->
		</div>
	</div>

    <div class="container">
		<h2>Data Entry Portals</h2>
		<p>
			Each portal has pages for entering, viewing, editing and deleting entries.
		</p>
	  <div class="media">
		  <div class="media-left">
		  	<a href="/observations">
				<img class="media-object"  src="https://d2pz2jxkt8wezm.cloudfront.net/public/icons/dest/er-icons-dest-wildlife-dk-23.svg" alt="" />
			</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading">
					<a href="/observations">Wildlife Observations</a>
				</h3>
				<p>
					Enter, view, and edit Nevada Wildlife Observations. Similar to the NDOW Form 240. Users are required to sign in before using this form.
				</p>
			</div>
	  </div>
	  <div class="media">
		  <div class="media-left">
			<a href="/checkins">
				<img class="media-object"  src="img/TanSheepSm.png" alt="" />
			</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading">
					<a href="/checkins">Bighorn Harvest Check-In</a>
				</h3>
				<p>
					Enter, view, and edit hunter harvest bighorn sheep check-ins. Similar to the NDOW Form 336. Users are required to sign in before using this form.
				</p>
			</div>
	  </div>

    </div>
</body>
