img.media-object {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.header-text {
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-weight: 800;
}

#big-img {
    height: 500px;
    background: url("../img/rmel.jpg") no-repeat fixed;
    background-size: cover;
}

#obs-jumbo {
    background-image: url("../img/pika.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

.text-white {
    color: white;
}

#obs-action-btns {
    margin-top: 10px;
}

#delete-form {
    display: inline;
}

#obs-map {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary-inv {
    border-color: #337ab7;
    color: #337ab7;
}

.pad-bottom {
    padding-bottom: 10px;
}

.rm-left-padding{
    padding-left: 0px;
    padding-right: 5px;
}

.rm-right-padding {
    padding-right: 0px;
    padding-left: 5px;
}
.obs-qaqc-body {
    padding-left: 15px;
    padding-top: 5px;
}
/*.obs-body-text {
    padding-top: 5px;
}*/

/*p.obs-body-text {
    padding-left: 10px;
}

.obs-qaqc {
    padding-bottom: 5px;
}*/
