body {
    padding-top: 50px;
}

img.media-object {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

header {
    height: 100vh;
    background-image: url("../img/bhs.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

.opaque-box {
    background-color: rgba(255, 255, 255, .25);
    padding-bottom: 25px;
    border-radius: 10px;
}

.header-text {
    color: white;
    font-weight: 800;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, .25)
}

.landing-body {
    background-image: url("../img/rmel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#big-img {
    height: 500px;
    background: url("../img/rmel.jpg") no-repeat fixed;
    background-size: cover;
}

#obs-jumbo {
    background-image: url("../img/pika.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

.text-white {
    color: white;
}

#obs-action-btns {
    margin-top: 10px;
}

#delete-form {
    display: inline;
}

#obs-map {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary-inv {
    border-color: #337ab7;
    color: #337ab7;
}

.pad-bottom {
    padding-bottom: 10px;
}

.pad-lf-sm {
    padding-left: 10px;
}

.pad-rt-sm {
    padding-right: 10px;
}

.rm-left-padding{
    padding-left: 0px;
    padding-right: 5px;
}

.rm-right-padding {
    padding-right: 0px;
    padding-left: 5px;
}
.obs-qaqc-body {
    padding-left: 15px;
    padding-top: 5px;
}

.mgn-bottom {
    margin-bottom: 10px;
}

.mgn-top-sm {
    margin-top: 10px;
}

.test-style {
    background-color: "grey";
    border: 1px black solid;
}

.rounded {
    border-radius: 10px;
    background: #000;
}

.mark-group {
    padding: 10px 10px 10px 10px;
}

.mg-odd {
    background-color: #fff;
}

.mg-even {
    background-color: #F5F5F5;
}

/*input[type=checkbox] {
    transform: scale(1.15);
}*/

.dynamic-row {
    padding-top: 15px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.row-shaded {
    background-color: #F5F5F5;
}

.btn-add {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 50px;
    display: block;
    padding-right: 50px;
}

.footer {
    background-color: #F8F8F8;
    width: 100%;
    margin-top: 50px;
}

.footer-col {
    margin-top: 20px;
    margin-bottom: 20px;
}
