<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>human-wildlife conflict</title>
    <% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
    <% include ../partials/selectizejs %> <!-- selectize js -->
    <% include ../partials/leaflet %> <!-- leaflet js -->
    <% include ../partials/pikaday %> <!-- pikaday js -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">

      <% include ../partials/navigation %>

      <h2>Human Wildlife Conflict</h2>
      <p>Data entry for human wildlife conflict incedents. Any subsequent recaptures that occur as a result of this incident are recorded as a capture. Capture data is recorded with a different form.</p>

      <form class="form-horizontal" action="/hw-conflicts" method="POST" name="hw-conlflict">
        <legend>Preliminary Data</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label req-label">Reporting Party</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="reportingParty" name="conflict[reporting_party]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>name of the party reporting human wildlife conflict</small></span>
            </div>
        </div>
        <div class="form-group">
          <!-- TODO: georeference the address, once coords are acquired map location -->
            <label class="col-sm-2 control-label req-label">Address</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="address" name="loc[address]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>address where the incident occured</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label req-label">Species</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="species" name="animal[species]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>what day did this encounter occur pick from the dropdown</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label req-label">Encounter Date</label>
            <div class="col-sm-5">
                <input type="text" class="form-control pick-date" id="encDate" name="enc[enc_date]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>what day did this encounter occur pick from the dropdown</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label req-label">Encounter Time</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="encTime" name="enc[capture_time]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>what time did this encounter occur</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Marks or Collar?</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="marks" name="conflict[marks]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>if the animal had any marks record here</small></span>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Complaint Narrative</label>
          <div class="col-sm-5">
            <textarea name="conflict[narrative]" rows="10" class="form-control"></textarea>
          </div>
          <div class="col-sm-5">
            <span class="help-block"><small>any and all comments related to the capture of this animal</small></span>
          </div>
        </div>

        <legend>Response Data</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Damage</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="damage" name="conflict[damage]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>is there any damage from the incident</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Attractancts</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="attractants" name="conflict[attractants]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>if attractants are present, what are they</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Trap</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="trap" name="conflict[trap]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>was a trap set to capture the bear</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Trap Reason</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="trapReason" name="conflict[trap_reason]">
            </div>
            <div class="col-sm-5">
                <span class="help-block"><small>why is a trap being set</small></span>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Response Actions</label>
          <div class="col-sm-5">
            <textarea name="conflict[response_actions]" rows="10" class="form-control"></textarea>
          </div>
          <div class="col-sm-5">
            <span class="help-block"><small>record any actions taken during the response to the incident</small></span>
          </div>
        </div>

      </form>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
