<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wildlife Health Encounter</title>
        <% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
        <% include ../partials/selectizejs %> <!-- selectize js -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

        <% include ../partials/navigation %>

        <div class="container col-sm-12">
            <h2>Wildlife Health Capture Form</h2>
                <form action="/encounters" method="post">
                    <fieldset>
                        <legend>Encounter Information</legend>
                        <!-- date, species, field_id -->
                        <div class='row'>
                            <!-- TODO: date picker -->
                            <div class='col-sm-4'>
                                <div class='form-group'>
                                    <label>Date</label>
                                    <input class="form-control" id="enc_date" name="encounter[enc_date]" required="true" type="text" />
                                </div>
                            </div>
                            <!-- TODO: species dropdown -->
                            <div class='col-sm-4'>
                                <div class='form-group'>
                                    <label>Species</label>
                                    <!-- <input type="integer" class="species-select" name="animal[species_id]"> -->
                                    <select name="animal[species_id]" class="species-select"></select>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <div class='form-group'>
                                    <label>NDOW ID</label>
                                    <input class="form-control" id="field_id" name="animal[field_id]" required="true" type="text" />
                                </div>
                            </div> <!-- ./ date, species, field_id -->
                        </div>
                        <!-- status, sex, age -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <input class="form-control" id="life_status" type="text" name="encounter[life_status]" required="true">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Sex</label>
                                    <input class="form-control" id="sex" type="text" name="animal[sex]" required="true">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Age</label>
                                    <input class="form-control" id="encounter[age]" type="text" name="encounter[age]" required="true">
                                </div>
                            </div>
                        </div> <!-- ./ status, sex, age -->
                        <!-- recapture, relocated -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Recapture</label>
                                    <select class="form-control" name="encounter[reencounter]" id="reencounter">
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Relocated</label>
                                    <select class="form-control" name="encounter[relocated]" id="relocated">
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div> <!-- ./ recapture, relocation -->
                    </fieldset>
                    <fieldset> <!-- enc_method, enc_reason -->
                        <legend>Methods and Justification</legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Encounter Method</label>
                                    <select class="form-control" name="encounter[enc_method]">
                                        <option value="null"></option>
                                        <option value="Capture Crew - Helicopter">Capture Crew - Helicopter</option>
                                        <option value="Basecamp - Helicopter">Basecamp - Helicopter</option>
                                        <option value="Marked - Dead">Marked - Dead</option>
                                        <option value="Marked - Observation">Marked - Observation</option>
                                        <option value="Unmarked - Dead">Unmarked - Dead</option>
                                        <option value="Collar Failure">Collar Failure</option>
                                        <option value="Collar Dropped">Collar Dropped</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Reason for Encounter</label>
                                    <select name="encounter[enc_reason]" id="" class="form-control">
                                        <option value="null"></option>
                                        <option value="Disease Surveilance">Disease Surveilance</option>
                                        <option value="Translocation">Translocation</option>
                                        <option value="Monitoring">Monitoring</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset> <!-- ./ end enc_reason, enc_method -->

                    <!-- accordion of data modules -->
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- abundance module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingAbundance">
                                <h4 class="panel-title">
                                    <a href="#collapseAbundance" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Encounter Abundance</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseAbundance" role="tabpanel">
                                <div class="panel-body">
                                    <fieldset>
                                        <legend>Encounter Abundance</legend>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Female</label>
                                                        <input type="text" class="form-control" name="abundance[female]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Male</label>
                                                        <input type="text" class="form-control" name="abundance[male]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Unk Sex</label>
                                                        <input type="text" class="form-control" name="abundance[unk_sex]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Sex Total</label>
                                                        <input type="text" class="form-control" name="abundance[sex_total]" readonly="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Adult</label>
                                                        <input type="text" class="form-control" name="abundance[adult]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Young</label>
                                                        <input type="text" class="form-control" name="abundance[young]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Unk Age</label>
                                                        <input type="text" class="form-control" name="abundance[unk_age]">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Age Total</label>
                                                        <input type="text" class="form-control" name="abundance[age_total]" readonly="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-1">
                                                    <div class="form-group">
                                                        <label>Total</label>
                                                        <input type="text" class="form-control" name="abundance[total]" readonly="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-3">
                                                    <div class="form-group">
                                                        <label>Young Age Class</label>
                                                        <input type="text" class="form-control" name="abundance[age_class]">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div> <!-- ./ end abundance module -->
                        <!-- mark module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Mark Data</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                                <div class="panel-body">
                                    <fieldset>
                                        <legend>Mark Information</legend>
                                        <!-- TODO: dropdowns on mark type, color? -->
                                        <!-- mark number 1, odd -->
                                        <div class="mark-group mg-odd rounded">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Type</label>
                                                        <input class="form-control" type="text" name="markOne[mark_type]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Location</label>
                                                        <input class="form-control" type="text" name="markOne[mark_location]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark ID</label>
                                                        <input class="form-control" type="text" name="markOne[mark_id]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Color</label>
                                                        <input class="form-control" type="text" name="markOne[mark_color]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Given</label>
                                                    <input class="form-control" type="date" name="markOne[date_given]">
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Removed</label>
                                                    <input class="form-control" type="date" name="markOne[mark_removed]">
                                                </div>
                                            </div>
                                        </div> <!-- ./ mark number 1, odd -->
                                        <!-- mark number 2, even -->
                                        <div class="mark-group mg-even rounded">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Type</label>
                                                        <input class="form-control" type="text" name="markTwo[mark_type]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Location</label>
                                                        <input class="form-control" type="text" name="markTwo[mark_location]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark ID</label>
                                                        <input class="form-control" type="text" name="markTwo[mark_id]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Color</label>
                                                        <input class="form-control" type="text" name="markTwo[mark_color]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Given</label>
                                                    <input class="form-control" type="date" name="markTwo[date_given]">
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Removed</label>
                                                    <input class="form-control" type="date" name="markTwo[mark_removed]">
                                                </div>
                                            </div>
                                        </div> <!-- ./ mark number 2, even -->
                                        <!-- mark number 3, odd -->
                                        <div class="mark-group mg-odd rounded">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Type</label>
                                                        <input class="form-control" type="text" name="markThree[mark_type]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Location</label>
                                                        <input class="form-control" type="text" name="markThree[mark_location]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark ID</label>
                                                        <input class="form-control" type="text" name="markThree[mark_id]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label>Mark Color</label>
                                                        <input class="form-control" type="text" name="markThree[mark_color]">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Given</label>
                                                    <input class="form-control" type="date" name="markThree[date_given]">
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Date Removed</label>
                                                    <input class="form-control" type="date" name="markThree[mark_removed]">
                                                </div>
                                            </div>
                                        </div> <!-- ./ mark number 3, odd -->
                                    </fieldset>
                                </div>
                            </div>
                        </div> <!-- ./ end mark module -->
                        <!-- capture location module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Capture Information</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                                <div class="panel-body">
                                    <fieldset>
                                        <legend>Capture Location Information</legend>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- location name -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Location Name</label>
                                                            <input class="form-control" type="text" name="loc[name]">
                                                        </div>
                                                    </div>
                                                </div> <!-- ./ location name -->
                                                <!-- coordinates -->
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Longitude</label>
                                                            <input class="form-control" type="text" name="loc[long]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Latitude</label>
                                                            <input class="form-control" type="text" name="loc[lat]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Accuracy</label>
                                                            <input class="form-control" type="text" name="loc[accuracy]">
                                                        </div>
                                                    </div>
                                                </div> <!-- ./ coordinates -->
                                                <!-- spatial units -->
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Mountain Range</label>
                                                            <input class="form-control" type="text" name="loc[mtn_range]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Hunt Unit</label>
                                                            <input class="form-control" type="text" name="loc[hunt_unit]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Management Area</label>
                                                            <input class="form-control" type="text" name="loc[mgmt_area]">
                                                        </div>
                                                    </div>
                                                </div> <!-- ./ spatial units -->
                                                <!-- location quality and source -->
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Location Type</label>
                                                            <input class="form-control" type="text" name="loc[type]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Location Quality</label>
                                                            <input class="form-control" type="text" name="loc[quality]">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Location Source</label>
                                                            <input class="form-control" type="text" name="loc[source]">
                                                        </div>
                                                    </div>
                                                </div> <!-- ./ location quality and source -->
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Location Description</label>
                                                            <textarea class="form-control" name="loc[desc]" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div> <!-- ./ end capture location module -->
                    </div>
                    <button type="submit" name="button">Submit</button>
                </form>
        </div>

    <script type="text/javascript">
        $('.species-select').selectize({
            placeholder: 'Select species...',
            valueField: 'id',
            labelField: 'common_name',
            searchField: 'common_name',
            preload: true,
            options: [],
            render: {
                option: function(item, escape){
                    console.log(item);
                    return '<p><span>' + escape(item.common_name) + '</span> - <span>' + escape(item.species_name) + '</span></p>'
                }
            },
            load: function(query, callback){
                $.ajax({
                    url: 'http://' + window.location.host + '/list-species',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        name: query
                    },
                    error: function(){
                        callback();
                    },
                    success: function(res) {
                        callback(res);
                    }
                });
            }
        });
    </script>
    </body>
</html>
