<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wildlife Health Encounter</title>
        <% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
        <% include ../partials/selectizejs %> <!-- selectize js -->
        <% include ../partials/leaflet %> <!-- leafletjs -->
        <% include ../partials/pikaday %> <!-- pikadayjs -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

        <% include ../partials/navigation %>

        <div class="container">
        <form class="form-horizontal" action="/encounters" method="POST" name="encForm">
            <!-- animal and encounter module -->
            <fieldset>
                <legend>Entry Form</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Encounter Date</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="encDate" name="enc[enc_date]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block pick-date"><small>pick a date from the dropdown</small></span>
                    </div>
                </div>
                <div class="form-group"> <!-- TODO: selectize -->
                    <label class="col-sm-2 control-label">Species</label>
                    <div class="col-sm-5">
                        <select class="form-control species-select" id="encSpecies" name="animal[species_id]"></select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>start typing a common name, then select from the list</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">NDOW ID</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="ndowId" name="animal[field_id]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>enter the NDOW ID for this animal</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[status]">
                            <option value=""></option>
                            <option value="alive">Alive</option>
                            <option value="mortality">Mortality</option>
                            <option value="hunter harvest">Hunter Harvest</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>select the life status of the encounter</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="animal[sex]">
                            <option value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="unk">Unknown</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>select the sex of the species</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Age</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[age]">
                            <option value=""></option>
                            <option value="yoy">young-of-year</option>
                            <option value="Juvenile">Juvenile</option>
                            <option value="Adult">Adult</option>
                            <option value="unk">Unknown</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>select the age of the animal</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Capture Reason</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[enc_reason]">
                            <option value=""></option>
                            <option value="surveilance">Disease Surveilance</option>
                            <option value="translocation">Translocation</option>
                            <option value="monitoring">Monitoring</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>select a reason for the capture</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Capture Method</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[enc_method]">
                            <option value=""></option>
                            <option value="Capture Crew - Helicopter">Capture Crew - Helicopter</option>
                            <option value="Basecamp - Helicopter">Basecamp - Helicopter</option>
                            <option value="Marked - Dead">Marked - Dead</option>
                            <option value="Marked - Observation">Marked - Observation</option>
                            <option value="Unmarked - Dead">Unmarked - Dead</option>
                            <option value="Collar Failure">Collar Failure</option>
                            <option value="Collar Drop">Collar Drop</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>select the capture method used for this animal</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Re-Encounter?</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[reencounter]">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>was this animal previously encountered (capture)</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Relocated?</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="enc[relocated]">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>is this animal being relocated to a new location</small></span>
                    </div>
                </div>
            </fieldset>

            <!-- weather condition & handling time -->
            <fieldset>
                <legend>Weather and Handling</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ambient Temp</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="env[amb_temp]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>ambient temperature while the animal is handled</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Weather</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="env[weather]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>weather while the animal is handled</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Wind</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="env[wind]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>how strongly is the wind blowing while the animal is handled</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Capture Time</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="enc[cap_time]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>what time was the animal captured or encountered</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chase Time</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="enc[chase_time]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>how long was the animal chased by the helicopter</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Arrival Time</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="enc[arr_time]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>what time did the animal arrive at basecamp</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Finished Time</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="enc[fin_time]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>what time was the animal no longer being handled</small></span>
                    </div>
                </div>
            </fieldset>

            <!-- capture location data -->
            <fieldset>
                <legend>Capture Location</legend>
                <!-- TODO: add leaflet map -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Location Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="loc[loc_name]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>enter a short name for the location</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="loc[loc_lon]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>longitude of the capture location</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="loc[loc_lat]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>latitude of the capture location</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mountain Range</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="loc[loc_mtn_range]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>name of the range the animal was captured</small></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hunt Unit</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="" name="loc[loc_hunt_unit]">
                    </div>
                    <div class="col-sm-5">
                        <span class="help-block"><small>hunt unit the animal was captured in</small></span>
                    </div>
                </div>
            </fieldset>

            <legend>Supplemental Data</legend>

            <!-- accordion of data modules -->
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- marks module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingMarks">
                                <h4 class="panel-title">
                                    <a href="#collapseMarks" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Marks</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseMarks" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mark Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[marks]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there mark data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="marks">
                                        <div class="mark-row dynamic-row" id="markRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Type</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markType" name="mark[mark_type]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what type of mark was given to this animal</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark ID</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markID" name="mark[mark_id]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what is the ID of the given mark</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Color</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markColor" name="mark[mark_color]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what color is the mark, NA is acceptable</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Location</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markLocation" name="mark[mark_location]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>where on the animal is the mark</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Date Given</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control pick-date" id="dateGiven" name="mark[date_given]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what date was the mark given</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Date Removed</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control pick-date" id="dateRemoved" name="mark[mark_removed]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what date was the mark removed</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('markRow', 'marks', 'mark-row');">Add Mark</button>
                                </div>
                            </div>
                        </div> <!-- ./ end mark module -->

                        <!-- biometric module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Biometrics</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Biometric Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[biometrics]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there biometric data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="biometrics">
                                        <div class="biometric-row dynamic-row" id="biometricRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Measurment</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="biomBiometric" name="biom[biometric]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what biometric measurement was measured</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Value</label>
                                                <div class="col-sm-5">
                                                    <input type="number" min="0" step=".01" class="form-control" id="biomMeasurement" name="biom[measurement]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what is the value of the measurement</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Units</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="biomUnit" name="biom[unit]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what units was it measured in</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Biometric Notes</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="biomNotes" name="biom[notes]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>any notes associated with taking this measurement</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('biometricRow', 'biometrics', 'biometric-row');">Add Mark</button>
                                </div>
                            </div>
                        </div> <!-- ./ end mark module -->

                        <!-- capture location module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Capture Information</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                                <div class="panel-body">
                                    blah ...
                                </div>
                            </div>
                        </div> <!-- ./ end capture location module -->
                    </div>

            <button type="submit" name="button" class="btn btn-success">Save</button>


<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="" name="">
    </div>
    <div class="col-sm-5">
        <span class="help-block"><small></small></span>
    </div>
</div>

    <% include ../partials/footer %>

    <script type="text/javascript">
        var eo = 'odd';
        var counter = 1;
        function addInput(divName, addDiv, countClass) {
            console.log('start eo: ' + eo);
            // var $clone = $("#markRow").clone();
            var $clone = $("#" + divName).clone();

            $clone.attr('id', 'markRow' + counter);

            var rmBtn = $('<button>Delete Mark</>').attr({
                type: 'button',
                class: 'btn btn-danger btn-add btn-del'
            });
            $clone.append(rmBtn);

            $clone.find('[id]').each(function() {
                var $th = $(this);
                $th.attr('id', $th.attr('id') + counter)
            });

            var divLength = $('.' + countClass).length;
            console.log(divLength)
            if (divLength % 2 != 0) {
                $clone.addClass("row-shaded");
            }

            // $clone.appendTo("#marks");
            $clone.appendTo("#" + addDiv);


            console.log('end eo: ' + eo);
            counter ++;
        }
    </script>
    <script type="text/javascript">
        $('body').on('focus',".pick-date", function(){
            $(this).pikaday({
                format: 'YYYY-MM-DD',
                yearRange: [1990, 2020]
            });
        });
        $('body').on('click', '.btn-del', function() {
            $(this).parent().remove();
        });
    </script>
    <script type="text/javascript">
        $('.species-select').selectize({
            placeholder: 'Select species...',
            valueField: 'id',
            labelField: 'common_name',
            searchField: 'common_name',
            preload: true,
            options: [],
            render: {
                option: function(item, escape){
                    // console.log(item);
                    return '<p><span>' + escape(item.common_name) + '</span> - <span>' + escape(item.species_name) + '</span></p>'
                }
            },
            load: function(query, callback){
                $.ajax({
                    url: 'http://' + window.location.host + '/list-species',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        name: query
                    },
                    error: function(){
                        callback();
                    },
                    success: function(res) {
                        callback(res);
                    }
                });
            }
        });
    </script>
    <script type="text/javascript">
        var picker = new Pikaday({ field: document.getElementById('enc_date'),
                           yearRange: [1900, 2026]
                         });
    </script>
    </body>
</html>
