<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wildlife Health Encounter</title>
        <% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
        <% include ../partials/selectizejs %> <!-- selectize js -->
        <% include ../partials/leaflet %> <!-- leafletjs -->
        <% include ../partials/pikaday %> <!-- pikadayjs -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body onload="geoFindMe();">

        <% include ../partials/navigation %>

        <div class="container">
          <h2>Wildlife Health Data Entry Form</h2>

        <form class="form-horizontal" action="/encounters" method="POST" name="encForm">
            <div class="panel-group panel-group-smush"> <!-- animal panel (module) -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#collapseAnimal" data-toggle="collapse">Animal Information</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseAnimal">
                  <div class="panel-body">
                    <legend>Animal Information</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Encounter Date</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control pick-date req-input" id="encDate" name="enc[enc_date]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block pick-date"><small>pick a date from the dropdown</small></span>
                        </div>
                    </div>
                    <div class="form-group"> <!-- TODO: selectize -->
                        <label class="col-sm-2 control-label req-label">Species</label>
                        <div class="col-sm-5">
                            <select class="form-control species-select req-input" id="encSpecies" name="animal[species_id]"></select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>start typing a common name, then select from the list</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NDOW ID</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="ndowId" name="animal[field_id]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>enter the NDOW ID for this animal</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Status</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[status]">
                                <option value=""></option>
                                <option value="alive">Alive</option>
                                <option value="mortality">Mortality</option>
                                <option value="hunter harvest">Hunter Harvest</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>select the life status of the encounter</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sex</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="animal[sex]">
                                <option value=""></option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="unk">Unknown</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>select the sex of the species</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[age]">
                                <option value=""></option>
                                <option value="yoy">young-of-year</option>
                                <option value="Juvenile">Juvenile</option>
                                <option value="Adult">Adult</option>
                                <option value="unk">Unknown</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>select the age of the animal</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Capture Reason</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[enc_reason]">
                                <option value=""></option>
                                <option value="surveilance">Disease Surveilance</option>
                                <option value="translocation">Translocation</option>
                                <option value="monitoring">Monitoring</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>select a reason for the capture</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Capture Method</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[enc_method]">
                                <option value=""></option>
                                <option value="Capture Crew - Helicopter">Capture Crew - Helicopter</option>
                                <option value="Basecamp - Helicopter">Basecamp - Helicopter</option>
                                <option value="Marked - Dead">Marked - Dead</option>
                                <option value="Marked - Observation">Marked - Observation</option>
                                <option value="Unmarked - Dead">Unmarked - Dead</option>
                                <option value="Collar Failure">Collar Failure</option>
                                <option value="Collar Drop">Collar Drop</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>select the capture method used for this animal</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Re-Encounter?</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[reencounter]">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>was this animal previously encountered (capture)</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Relocated?</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="enc[relocated]">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>is this animal being relocated to a new location</small></span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- animal and encounter module -->

            <div class="panel-group panel-group-smush"> <!-- weather condition & handling time -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#collapseWeather" data-toggle="collapse">Weather Data</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseWeather">
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ambient Temp</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="env[amb_temp]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>ambient temperature while the animal is handled</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Weather</label>
                        <div class="col-sm-5">
                            <select name="env[weather]" id="encWeather" class="form-control">
                                <option value=""></option>
                                <option value="Clear">Clear</option>
                                <option value="Partly Cloudy">Partly Cloudy</option>
                                <option value="Overcast">Overcast</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>weather while the animal is handled</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Wind</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="env[wind]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>how strongly is the wind blowing while the animal is handled</small></span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./ end weather module -->

            <div class="panel-group panel-group-smush"> <!-- handling module -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#collapseHandling" data-toggle="collapse">Handling</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseHandling">
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Capture Time</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="enc[cap_time]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>what time was the animal captured or encountered</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Chase Time</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="enc[chase_time]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>how long was the animal chased by the helicopter</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Arrival Time</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="enc[arr_time]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>what time did the animal arrive at basecamp</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Finished Time</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="enc[fin_time]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>what time was the animal no longer being handled</small></span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- ./ end handling module -->

            <div class="panel-group"> <!-- capture location module -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#collapseCapLocation" data-toggle="collapse">Capture Location</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseCapLocation">
                  <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Location Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_name]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>enter a short name for the location</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Longitude</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_lon]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>longitude of the capture location</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Latitude</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_lat]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>latitude of the capture location</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Accuracy</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_accuracy]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>accuracy of the coordinates</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mountain Range</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_mtn_range]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>name of the range the animal was captured</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label req-label">Hunt Unit</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="" name="loc[loc_hunt_unit]">
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>hunt unit the animal was captured in</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Location Quality</label>
                        <div class="col-sm-5">
                            <select name="loc[loc_quality]" id="locType" class="form-control">
                                <option value=""></option>
                                <option value="Description">Description</option>
                                <option value="Geography">Geogrpahy</option>
                                <option value="">XY</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block"><small>how good is the quality of the location</small></span>
                        </div>
                    </div>
                    <div id="#encMap" style="height: 350px;"></div>
                  </div>
                </div>
              </div>
            </div> <!-- ./ end capture location module -->

            <legend>Supplemental Data</legend>

            <!-- accordion of data modules -->
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- marks module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingMarks">
                                <h4 class="panel-title">
                                    <a href="#collapseMarks" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Marks</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseMarks" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mark Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[marks]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there mark data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="marks">
                                        <div class="mark-row dynamic-row" id="markRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Type</label>
                                                <div class="col-sm-5">
                                                    <select name="mark[mark_type]" id="markType" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Band">Band</option>
                                                        <option value="Collar">Collar</option>
                                                        <option value="Ear Tag">Ear Tag</option>
                                                        <option value="PIT Tag">PIT Tag</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what type of mark was given to this animal</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark ID</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markID" name="mark[mark_id]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what is the ID of the given mark</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Color</label>
                                                <div class="col-sm-5">
                                                    <select name="mark[mark_color]" id="markColor" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Black">Black</option>
                                                        <option value="Blue">Blue</option>
                                                        <option value="Gray">Gray</option>
                                                        <option value="Green">Green</option>
                                                        <option value="Lavender">Lavender</option>
                                                        <option value="Light Blue">Light Blue</option>
                                                        <option value="Light Green">Light Green</option>
                                                        <option value="Orange">Orange</option>
                                                        <option value="Pink">Pink</option>
                                                        <option value="Purple">Purple</option>
                                                        <option value="Red">Red</option>
                                                        <option value="White">White</option>
                                                        <option value="Yellow">Yellow</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what color is the mark, NA is acceptable</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Mark Location</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="markLocation" name="mark[mark_location]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>where on the animal is the mark</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Date Given</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control pick-date" id="dateGiven" name="mark[date_given]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what date was the mark given</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Date Removed</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control pick-date" id="dateRemoved" name="mark[mark_removed]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what date was the mark removed</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('markRow', 'marks', 'mark-row');">Add Mark</button>
                                </div>
                            </div>
                        </div> <!-- ./ end mark module -->

                        <!-- biometric module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Biometrics</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Biometric Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[biometrics]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there biometric data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="biometrics">
                                        <div class="biometric-row dynamic-row" id="biometricRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Measurment</label>
                                                <div class="col-sm-5">
                                                    <select name="biom[biometric]" id="biomMeasurement" class="form-control"> <!-- TODO: change database field to measurement -->
                                                        <option value=""></option>
                                                        <option value="Age (integer)">Age (integer)</option>
                                                        <option value="B. femoris">B. femoris</option>
                                                        <option value="BCS (qual)">BCS (qual)</option>
                                                        <option value="BCS (quant)">BCS (quant)</option>
                                                        <option value="Body Length">Body Length</option>
                                                        <option value="Chest Girht">Chest Girth</option>
                                                        <option value="Fat Thickness">Fat Thickness</option>
                                                        <option value="Incisors">Incisors</option>
                                                        <option value="Jaw Length">Jaw Length</option>
                                                        <option value="L. Dorsi">L. Dorsi</option>
                                                        <option value="Leg Length">Leg Length</option>
                                                        <option value="Neck Cric">Neck Circ</option>
                                                        <option value="Weight">Weight</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what biometric measurement was measured</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Value</label>
                                                <div class="col-sm-5">
                                                    <input type="number" min="0" step=".01" class="form-control" id="biomMeasurement" name="biom[measurement]"> <!-- TODO: change database field name to value -->
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what is the value of the measurement</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Units</label>
                                                <div class="col-sm-5">
                                                    <select name="biom[unit]" id="biomUnit" class="form-control ">
                                                        <option value=""></option>
                                                        <option value="g">g</option>
                                                        <option value="kg">kg</option>
                                                        <option value="lbs">lbs</option>
                                                        <option value="mm">mm</option>
                                                        <option value="cm">cm</option>
                                                        <option value="in">in</option>
                                                        <option value="days">days</option>
                                                        <option value="months">months</option>
                                                        <option value="years">years</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what units was it measured in</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Biometric Notes</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="biomNotes" name="biom[notes]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>any notes associated with taking this measurement</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('biometricRow', 'biometrics', 'biometric-row');">Add Biometric</button>
                                </div>
                            </div>
                        </div> <!-- ./ end biometric module -->

                        <!-- vitals location module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Vitals</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Vitals Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[vitals]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there vitals data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="vitals">
                                        <div class="vital-row dynamic-row" id="vitalRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Vitals Time</label>
                                                <div class="col-sm-5">
                                                    <input type="time" class="form-control" id="vitalTime" name="vitals[vital_time_recorded]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what time was it measured</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Measurment</label>
                                                <div class="col-sm-5">
                                                    <select name="vitals[vital_measurement]" id="vitalMeasurement" class="form-control">
                                                        <option value=""></option>
                                                        <option value="HR">Heart Rate</option>
                                                        <option value="Temp">Temperature</option>
                                                        <option value="RR">Respiratory Rate</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what vitals measurement was recorded</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Value</label>
                                                <div class="col-sm-5">
                                                    <input type="number" min="0" step=".01" class="form-control" id="vitalValue" name="vitals[vital_value]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what is the value of the measurement</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Interval</label>
                                                <div class="col-sm-5">
                                                    <input type="number" min="0" step="1" class="form-control" id="vitalValue" name="vitals[vital_interval]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what inteval was this vital sign recorded</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('vitalRow', 'vitals', 'vital-row');">Add Vitals</button>
                                </div>
                            </div>
                        </div> <!-- ./ end vitals module -->

                        <!-- injury module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingInjury">
                                <h4 class="panel-title">
                                    <a href="#collapseInjury" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Injury</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseInjury" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Injury Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[injury]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there injury data that needs to be entered</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="injuries">
                                        <div class="injury-row dynamic-row" id="injuryRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Injury Type</label>
                                                <div class="col-sm-5">
                                                    <select name="injury[injury_type]" id="injuryType" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Abrasion">Abrasion</option>
                                                        <option value="Avulsion">Avulsion</option>
                                                        <option value="Contusion">Contusion</option>
                                                        <option value="Laceration">Laceration</option>
                                                        <option value="Puncture">Puncture</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what type of injury did the animal have</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Injury Location</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="injuryLocation" name="injury[injury_location]"> <!-- TODO: select -->
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>where on the animal was this injury</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Injury Description</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="injuryDesciption" name="injury[injury_description]"> <!-- TODO: textarea -->
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>a short description of the injury</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Injury Treatment</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="injuryTreatment" name="injury[injury_treatment]"> <!-- TODO: textarea -->
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>a short description of the treatment for the injury</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('injuryRow', 'injuries', 'injury-row');">Add Injury</button>
                                </div>
                            </div>
                        </div> <!-- ./ end injury module -->
                        <!-- meds module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingMeds">
                                <h4 class="panel-title">
                                    <a href="#collapseMeds" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Medications</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseMeds" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Medication Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[medications]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>is there medication data to enter</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="meds">
                                        <div class="med-row dynamic-row" id="medRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Medication</label>
                                                <div class="col-sm-5">
                                                    <select name="meds[medication]" id="medication" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Aluspray">Aluspray</option>
                                                        <option value="Atipamezole">Atipamezole</option>
                                                        <option value="Azaperone">Azaperone</option>
                                                        <option value="BAM">BAM</option>
                                                        <option value="Banamine">Banamine</option>
                                                        <option value="BNP">BNP</option>
                                                        <option value="BoSe">BoSe</option>
                                                        <option value="Butorphanol">Butorphanol</option>
                                                        <option value="Catron">Catron</option>
                                                        <option value="Draxxin">Draxxin</option>
                                                        <option value="E300">E300</option>
                                                        <option value="Eprinectin">Eprinectin</option>
                                                        <option value="Exede">Exede</option>
                                                        <option value="Haloperidol">Haloperidol</option>
                                                        <option value="Ivomec">Ivomec</option>
                                                        <option value="Ketamine">Ketamine</option>
                                                        <option value="Lidocaine 2%">Lidocaine 2%</option>
                                                        <option value="Midazolam">Midazolam</option>
                                                        <option value="Naltrexone">Naltrexone</option>
                                                        <option value="Normasol pH 7">Normasol pH 7</option>
                                                        <option value="NuFlor">NuFlor</option>
                                                        <option value="Oxygen">Oxygen</option>
                                                        <option value="Pentobarbitol">Pentobarbitol</option>
                                                        <option value="Plasmalyte">Plasmalyte</option>
                                                        <option value="Saline">Saline</option>
                                                        <option value="Telazol">Telazol</option>
                                                        <option value="Vitamin E300">Vitamin E300</option>
                                                        <option value="Xylazine">Xylazine</option>
                                                        <option value="Zactran">Zactran</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what medication was administered</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Dose</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="medDose" name="meds[med_dose]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what does was administered</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Units</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="medUnit" name="meds[med_unit]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what units was the dose</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Method</label>
                                                <div class="col-sm-5">
                                                    <select name="meds[med_method]" id="medMethod" class="form-control">
                                                        <option value=""></option>
                                                        <option value="IM">Intramuscular (IM)</option>
                                                        <option value="IV">Intravenous (IV)</option>
                                                        <option value="SQ">Subcutaneous</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>how was the medication administered</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Time Administered</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="medAdmin" name="meds[med_time_admin]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what time was the medication administered</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Notes</label>
                                                <div class="col-sm-5">
                                                    <textarea name="meds[med_notes]" class="form-control" rows="2" id="medNote"></textarea>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>any notes associated with this medication, eg. vial-number</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('medRow', 'meds', 'med-row');">Add Medication</button>
                                </div>
                            </div>
                        </div> <!-- ./ end meds module -->

                        <!-- samples module -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSamples">
                                <h4 class="panel-title">
                                    <a href="#collapseSamples" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Samples</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseSamples" role="tabpanel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Samples Data?</label>
                                        <div class="col-sm-5">
                                            <select class="form-control" name="enc[samples]">
                                                <option value="no">No</option>
                                                <option value="yes">Yes</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="help-block"><small>were samples collected from this animal</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="samples">
                                        <div class="sample-row dynamic-row" id="sampleRow">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Sample</label>
                                                <div class="col-sm-5">
                                                    <select name="samples[sample]" id="sample" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Blood">Blood</option>
                                                        <option value="Carcass">Carcass</option>
                                                        <option value="Swab">Swab</option>
                                                        <option value="Tissue">Tissue</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what sample was collected</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Destination</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="sampleDestination" name="samples[sample_destination]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what lab is the sample going to</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Test</label>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="samplesTest" name="samples[sample_test]">
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>what test will be run with this sample</small></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Results</label>
                                                <div class="col-sm-5">
                                                    <select name="samples[sample_result]" id="samplesResult" class="form-control">
                                                        <option value=""></option>
                                                        <option value="No">No</option>
                                                        <option value="Yes">Yes</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="help-block"><small>have results been returned from the lab</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-add" type="button" name="addMark" onClick="addInput('sampleRow', 'samples', 'sample-row');">Add Samples</button>
                                </div>
                            </div>
                        </div> <!-- ./ end meds module -->

                    </div>

            <button type="submit" name="button" class="btn btn-success">Save</button>
        </form>
    </div>



    <% include ../partials/footer %>

    <script type="text/javascript">
        var counter = 1;
        function addInput(divName, addDiv, countClass) {
            var $clone = $("#" + divName).clone();

            $clone.attr('id', 'markRow' + counter);

            var rmBtn = $('<button>Delete</>').attr({
                type: 'button',
                class: 'btn btn-danger btn-add btn-del'
            });
            $clone.append(rmBtn);

            $clone.find('[id]').each(function() {
                var $th = $(this);
                $th.attr('id', $th.attr('id') + counter)
            });

            var divLength = $('.' + countClass).length;
            if (divLength % 2 != 0) {
                $clone.addClass("row-shaded");
            }

            $clone.appendTo("#" + addDiv);
            counter ++;
        }
    </script>
    <script type="text/javascript">
        $('body').on('focus',".pick-date", function(){
            $(this).pikaday({
                format: 'YYYY-MM-DD',
                yearRange: [1990, 2020]
            });
        });
        $('body').on('click', '.btn-del', function() {
            $(this).parent().remove();
        });
    </script>
    <script type="text/javascript">
        $('.species-select').selectize({
            placeholder: 'Select species...',
            valueField: 'id',
            labelField: 'common_name',
            searchField: 'common_name',
            preload: true,
            options: [],
            render: {
                option: function(item, escape){
                    // console.log(item);
                    return '<p><span>' + escape(item.common_name) + '</span> - <span>' + escape(item.species_name) + '</span></p>'
                }
            },
            load: function(query, callback){
                $.ajax({
                    url: window.location.protocol + '//' + window.location.host + '/list-species',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        name: query
                    },
                    error: function(){
                        callback();
                    },
                    success: function(res) {
                        callback(res);
                    }
                });
            }
        });
    </script>
    <script type="text/javascript">
        var picker = new Pikaday({ field: document.getElementById('enc_date'),
                           yearRange: [1900, 2026]
                         });
    </script>
    <script type="text/javascript">
        var obmap = L.map('#encMap').setView([39.38526, -116.87256], 7);
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri'
        }).addTo(obmap);

        var popup = L.popup();
        function onMapClick(e) {
            document.forms["encForm"]["loc[loc_lon]"].value = e.latlng.lng.toFixed(4);
            document.forms["encForm"]["loc[loc_lat]"].value = e.latlng.lat.toFixed(4);
            popup
                .setLatLng(e.latlng)
                .setContent("Coords Set: " + e.latlng.toString())
                .openOn(obmap);
        }
        obmap.on('click', onMapClick);

        function geoFindMe() {
            if (!navigator.geolocation) {
                alert("<p>Geolocation is not supported by your browser</p>");
                return;
            }

            function success(position) {
                var latitude = position.coords.latitude.toFixed(4);
                var longitude = position.coords.longitude.toFixed(4);
                document.forms["encForm"]["loc[loc_lon]"].value = longitude;
                document.forms["encForm"]["loc[loc_lat]"].value = latitude;
                document.forms["encForm"]["loc[loc_accuracy]"].value = position.coords.accuracy;
                obmap.setView([latitude, longitude], 11);
                var marker = L.marker([latitude, longitude]).addTo(obmap);
            };

            function error(e) {
                alert("Unable to retrieve your location: " + e.message);
            };
            navigator.geolocation.getCurrentPosition(success, error, {
                enableHighAccuracy: true
            });
        }
    </script>
    </body>
</html>
